<div class="container-fluid">
  
    <div ng-repeat="step in release.steps" class="release-step pull-left" id="{{step.id}}">
		<div class="step-header">
			<strong>{{step.label}}</strong>
			<a class="pull-right glyphicon glyphicon-remove" ng-click="removeStep(step.id)" data-stepid="{{step.id}}"></a>
		</div>
		
		<div class="step-data status-{{step.status}}">
			<span>Attachments:</span>
			<ul class="specs" >
				<li ng-repeat="attachment in step.attachments"><a target="_blank" href="{{attachment.link}}">{{attachment.label}}</a></li>				
			</ul>			
		</div>
		
		<div class="step-footer">
			<span class="pull-left">
				<a class="glyphicon glyphicon-tasks cmd-show-comments" href="#/release/{{release.id}}/step/{{step.id}}/comments" title="show / add comments"></a> 
			</span>
			<span class="pull-right">				
				<a class="glyphicon glyphicon-plus cmd-set-status" ng-click="updateStatus('open', step.id)" title="set status: open"></a>
				-
				<a class="glyphicon glyphicon-play cmd-set-status" ng-click="updateStatus('executed', step.id)" title="set status: executed"></a>				
				-
				<a class="glyphicon glyphicon-flash cmd-set-status" ng-click="updateStatus('failed', step.id)" title="set status: failed"></a>
				-
				<a class="glyphicon glyphicon-ok cmd-set-status" ng-click="updateStatus('passed', step.id)" title="set status: passed"></a>
			</span>
		</div>
    </div>
	
</div>
